<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{ satellites.length }}</span></div>
   <div>Space Debris: <span>{{ spaceDebrisCounter(satellites) }}</span></div>
   <div>Communication: <span>{{ communcationCounter(satellites) }}</span></div>
   <div>Probe: <span>{{ probeCounter(satellites) }}</span></div>
   <div>Positioning: <span>{{ positioningCounter(satellites) }}</span></div>
   <div>Space Station: <span>{{ spaceStationCounter(satellites) }}</span></div>
   <div>Telescope: <span>{{ telescopeCounter(satellites) }}</span></div>
</div>